<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<h1>LOGIN HERE</h1>
<form name="f" th:action="@{/login}" method="post">
    <fieldset>
        <legend>Login</legend>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
        <div class="form-actions">
            <button type="submit" class="btn"> GIR </button>
        </div>

    </fieldset>
</form>

</body>

</html>